@import url('https://fonts.googleapis.com/css2?family=Langar&family=Supermercado+One&display=swap');


html {
    min-height: 100vh;
    box-sizing: border-box;
}


body {
     min-height: 100vh;
  
  background: url("../images/background.jpg");
}


.navbar-dark {
    padding: 0px;
    border: 0;
    /* background-color:rgba(90, 150, 210, 0.95)!important; */
}

.navbar-dark .navbar-brand  {                                    
        float:left;
        font-family: "Supermercado", sans-serif;
        font-size: 200%;
        margin-left: 0px;
        margin-bottom: 0;
        padding-bottom: 2px;
        padding-left: 50px;
        border-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        text-decoration: none;
        line-height: 75px;
        height: 75px;

}



.collapse .naveLinks {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.nav-item {

    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0px;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    margin: 0 10px;
    color: #ffffff;
}

.nav-item a i {
    padding-top: 5px;
    display: inline;
    color:#ffffff;
    font-size: 30px;
}

.nav-item a span {
    width: 100%;                               
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 15px;
  
}

.navbar-toggler-icon{
    border: 0;
}


.btn--red {
    width: 150px;
    margin: 5px 10px;
    padding: 2px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-family: "Supermercado", sans-serif;
    border: 2px solid red;
    border-radius: 12px;
   
}

#modalFormdiv  {
    text-align: center;
}


.modalForm {
    font-weight: bold;
    
}


.page-title {
    margin-top: 70px;
  font-family: Langar, serif;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
  color: #fafafa;
}



.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;

  
}


.page-title {
    margin-top: 70px;
  font-family: Langar, serif;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
  color: #fafafa;
}


.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;

  
}


.game-info {
  font-family: Supermercado, serif;
  color: #FFBB89;
  font-size: 3em;
}

div.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
 perspective: 500px;
}



.card{
    position: relative; 
    height: 160px;
    width: 115px;
    border-radius: 12px;
    
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 5px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
  
 
}


.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0)
}


.ghg{
  position: absolute;
  width: 37px;
  height: 37px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  
}

.card-back {
    background-color: rgba(195, 212, 37, 0.8); 
    border-color: rgb(235, 53, 21);
}




.ghg-topRight-N2O{
  transform: rotate(-260deg);
  top: 0;
  right: 0;
}

.ghg-bottomLeft-cfc{
  
  bottom: 0;
  left: 0;
}

.ghg-bottomRight-methane{
  
  bottom: 0;
  right: 0;
}

.card-front {
  background-color: rgba(78, 11, 39, 0.1);
  border-color: #333;
  transform: rotateY(180deg);
}

.matchedz {
    transform: scale(0.9);
}

.card-front:hover .matchedz {
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}



.card-face:hover .ghg {
   height: 52px;
    width: 52px;
}


.ghg-topLeft-carbondioxide {
  transform: rotate(270deg);
  top: 0;
  left: 0;
} 


 .card-front .eden {
  transform: rotate(0deg);
  top: 0;
  left: 0;
} 


.card-front .edenz{

transform: rotate(360deg);
  top: 0;
  right: 0;
}



.earth,
.matchedz {
position: absolute;
  width: 70px;
  height: 70px;
  
}

/* to allow the 500ms to flip over before it start dancing for 1s */
.card.matched .matchedz{

animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100%  {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
  }
}


.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #FF6D00;
  font-family: Supermercado, serif;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}


@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 8.5em;
  }
}

.overlay-text-small {
  font-size: 0.2em;
}




@media (max-width: 600px) {

div.game-container {
  
  grid-gap: 8px;
  margin: 25px 25px 25px 27px;
  justify-content: center;
}


  .card{
    position: relative; 
    height: 120px;
    width: 86.25px;
    border-radius: 10px;
    
}

.ghg{
  position: absolute;
  width: 27px;
  height: 27px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  
}

.earth,
.matchedz {
position: absolute;
  width: 50px;
  height: 50px;
  
}

.card-face:hover .ghg {
   height: 39px;
    width: 39px;
}

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}



/* (for say less than 450px), and make the cards smaller (say 75px or 80px wide).  */

@media (max-width: 350px) {

div.game-container {
  
  grid-gap: 3.5px;
  margin: 25px 25px 25px 27px;
  justify-content: center;
}


  .card{
    position: relative; 
    height: 110px;
    width: 79px;
    border-radius: 8px;
    
}

.ghg{
  position: absolute;
  width: 24px;
  height: 24px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  
}

.earth,
.matchedz {
position: absolute;
  width: 45.33px;
  height: 45.33px;
  
}

.card-face:hover .ghg {
   height: 32px;
    width: 32px;
}

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }


@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 7em;
  }
}

.overlay-text-small {
  font-size: 0.3em;
}



}





#footer {
  /* background-color:rgba(90, 150, 210, 0.95); */
    color: #777777;
   
    position: absolute;
     width: 100%;
}

/*--------------------footer-socialMedia---*/

.social-media {
    padding-bottom: 15px;
    text-align:center;
}

div ul.social-media li a {
    text-align: center;
}
                                
div ul.social-media li a i {
    width: 2.0em;
    height: 2.0em;
    margin: 3%;
    padding: 5%;
    border-radius: 25%;
    font-size: 1.8em;
    line-height: 1.8em;
    text-align: center;
    color: #fafafa;
    background: rgba(0,73,83,0.9);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: rgba(255,36,0, 0.8);
}


#footer-contents {
    padding: 10px;
}


      /*--------------------footer-contacts---*/

footer .contacts {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

.footer-header {
    color: #ffffff;
    text-align: center;
    
}

footer .contactslg {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;    
}

