
/*font imported from google for the game */
@import url('https://fonts.googleapis.com/css2?family=Langar&family=Supermercado+One&display=swap');

/* Referencing the video that inspires me https://www.youtube.com/watch?v=28VfzEiJgy4&t=1s */

 /*style for boxing the cards and to enable image spreadout through the page */
html {
    min-height: 100vh;
    box-sizing: border-box;
}

/*game background image*/
/*and to enable image spreadout through the page evenly*/
body {
     min-height: 100vh;
  
  background: url("../images/background.jpg");
}



/*---------------------------------- Game info and Title ----------*/

/*styling page title*/
.page-title {
    margin-top: 20px;
  font-family: Langar, serif;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
  color: #fafafa;
}


/* 1 / -1 taking whole columns in that row*/
.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;

  
}


/* styling info-container */
.game-info {
  font-family: Supermercado, serif;
  color: #FFBB89;
  font-size: 3em;
}

/*the div-wrapper that conatains all the cards, timer, flipper, the styling center the cards with correct spacing*/

div.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
 perspective: 500px;  /* giving the card 3d effect when it flips*/
}


/* styling the cards generally*/
.card{
    position: relative; 
    height: 160px;
    width: 115px;
    border-radius: 12px;
    background-color: transparent; /* makes the background neutral, i.e removed default color*/
    border-color: transparent;
    
}


/*card face styling, setup and positioning */

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden; /* prevent cards default transparent image*/
  border-radius: 12px;
  border-width: 5px;
  border-style: solid;
  transition: transform 500ms ease-in-out; /* determine the speed at which card flip over completely*/
  
 
}


/*rotating effect of the cards at 180degrees*/

.card.visible .card-back {
  transform: rotateY(-180deg);
}

/* for horizontal plane rotation*/
.card.visible .card-front {
  transform: rotateY(0)
}


/*this style the images at the corner of the cards back and front*/
.ghg{
  position: absolute;
  width: 37px;
  height: 37px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  
}


/*-------------------------------------------card-back  styling -----------------------------*/


.card-back {
    background-color: rgba(195, 212, 37, 0.99); 
    border-color: rgb(235, 53, 21);
}


/*top-left-image*/

.ghg-topLeft-carbondioxide {
  transform: rotate(270deg);
  top: 0;
  left: 0;
} 


/*top-right-image*/

.ghg-topRight-N2O{
  transform: rotate(-260deg);
  top: 0;
  right: 0;
}


/*bottom-right-image*/
.ghg-bottomRight-methane{
  
  bottom: 0;
  right: 0;
}

/*bottom-left-image*/
.ghg-bottomLeft-cfc{
  
  bottom: 0;
  left: 0;
}

/*-------------------------------------------card-front  styling -----------------------------*/

.card-front {
  background-color: #fafafa;
  border-color: #333;
  transform: rotateY(180deg);
}


/* win-card transforming attribute using the speed the card transforms on the won card */
.matchedz {
    transform: scale(0.9);
}

/* card-front:hover and bringing the scaling effect */

.card-front:hover .matchedz {
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}

/* enlarge the image when zoom into */

.card-face:hover .ghg {
   height: 52px;
    width: 52px;
}


 .card-front .impact {
  transform: rotate(0deg);
  top: 0;
  left: 0;
} 


.card-front .impactz{

transform: rotate(360deg);
  top: 0;
  right: 0;
}


/*middle images back and front styling*/
.earth,
.matchedz {
position: absolute;
  width: 70px;
  height: 70px;
  
}

/* to allow 500ms to flip over before it start dancing for 1s */
.card.matched .matchedz{

animation: dance 1s linear infinite 500ms;
}

/* dancing effect of matched card styling*/

@keyframes dance {
    0%, 100%  {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
  }
}

/*spinning effect of back of cards from https://codepen.io/teerapuch/pen/vLJXeR site*/

.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



/*styling the overlay-text to click to start, game over and victory view*/

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #FF6D00;
  font-family: Langar, serif;
}

/*Overlay-text-visible and the speed 500ms at which it displays*/
.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}


/*styling the overlay growing effect*/

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 8.5em;
  }
}

/*styling overlay-text-small and positioning*/

.overlay-text-small {
  font-size: 0.2em;
  text-align: center;
}



/*---------------------------------- Media Queries----------*/

@media (max-width: 600px) {

div.game-container {
  
  grid-gap: 8px;
  margin: 25px 25px 25px 27px;
  justify-content: center;
}


  .card{
    position: relative; 
    height: 120px;
    width: 86.25px;
    border-radius: 10px;
    padding: 2px;

    
}

.ghg{
  position: absolute;
  width: 27px;
  height: 27px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  
}

.earth,
.matchedz {
position: absolute;
  width: 50px;
  height: 50px;
  
}

.card-face:hover .ghg {
   height: 39px;
    width: 39px;
}


@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 7em;
  }
}

.overlay-text-small {
  font-size: 0.3em;
}

  
}

/*---------------------------------- overlay sidelink-logo--------*/

.side-link-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  margin-left: 50px;
}


.side-link-logo .navbar-brand  {                                    
            
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  background-color: rgba(206, 206, 200, 0.5);
  
  padding: 0;
  border-radius: 25px;
  width: 100px;
  height: 100px;

}

/*---------------------------------- Media Queries--esp for Iphone 5SE--------*/

@media (max-width: 360px) {

div.game-container {
  
  grid-gap: 3.5px;
  margin: 25px 25px 25px 27px;
  justify-content: center;
}


  .card{
    position: relative; 
    height: 100px;
    width: 73.5px;
    border-radius: 8px;
    padding: 2px;
    
}

.ghg{
  position: absolute;
  width: 24px;
  height: 24px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  
}

.earth,
.matchedz {
position: absolute;
  width: 45.33px;
  height: 45.33px;
  
}

.card-face:hover .ghg {
   height: 32px;
    width: 32px;
}

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }


@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 5em;
  }
}

.overlay-text-small {
  font-size: 0.2em;
}

.side-link-logo {
  position: absolute;
  top: 5px;
  left: 15px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.side-link-logo .navbar-brand  {                                    
        
       
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgba(206, 206, 200, 0.5);
  
  padding: 0;
  border-radius: 25px;
  width: 100px;
  height: 100px;


}


}





