@import url('https://fonts.googleapis.com/css2?family=Langar&family=Supermercado+One&display=swap');


html {
    min-height: 100vh;
    box-sizing: border-box;
}


body {
     min-height: 100vh;
  
  background: url("../images/background.jpg");
}

.page-title {
    margin-top: 70px;
  font-family: Langar, serif;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
  color: #fafafa;
}


.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;

  
}


.game-info {
  font-family: Supermercado, serif;
  color: #FFBB89;
  font-size: 3em;
}

div.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
 perspective: 500px;
}



.card{
    position: relative; 
    height: 160px;
    width: 115px;
    border-radius: 12px;
    
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 5px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
  
 
}


.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0)
}


.ghg{
  position: absolute;
  width: 47px;
  height: 47px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  
}

.card-back {
    background-color: rgba(195, 212, 37, 0.8); 
    border-color: rgb(235, 53, 21);
}







.ghg-topRight-N2O{
  transform: rotate(-260deg);
  top: 0;
  right: 0;
}

.ghg-bottomLeft-cfc{
  
  bottom: 0;
  left: 0;
}

.ghg-bottomRight-methane{
  
  bottom: 0;
  right: 0;
}

.card-front {
  background-color: rgba(78, 11, 39, 0.1);
  border-color: #333;
  transform: rotateY(180deg);
}

.win-match {
    transform: (.9);
}

.card-front:hover .win-match {
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}



.card-face:hover .ghg {
   height: 52px;
    width: 52px;
}


.ghg-topLeft-carbondioxide {
  transform: rotate(270deg);
  top: 0;
  left: 0;
} 


 .card-front .eden {
  transform: rotate(0deg);
  top: 0;
  left: 0;
} 


.card-front .edenz{

transform: rotate(360deg);
  top: 0;
  right: 0;
}



.bonny,
.win-match {
position: absolute;
  width: 70px;
  height: 70px;
  
}
