@import url('https://fonts.googleapis.com/css2?family=Langar&family=Supermercado+One&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Supermercado", sans-serif;
}

.welcome-page{
   
    height: 100vh;

    background: url('../images/welcm.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.navbar-dark {
    padding: 0px;
    border: 0;
    background-color:rgba(90, 150, 210, 0.95)!important;
}




.navbar-dark .navbar-brand  {                                    
        float:left;
        font-family: "Supermercado", sans-serif;
        font-size: 170%;
        margin-left: 0px;
        margin-bottom: 0;
        padding-bottom: 2px;
        padding-left: 20px;
        border-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        text-decoration: none;
        line-height: 75px;
        height: 75px;

}



.collapse .naveLinks {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.nav-item {

    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0px;
    text-transform: normal;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    margin: 0 10px;
    color: #ffffff;
}

.nav-item a i {
    padding-top: 5px;
    display: inline;
    color:#ffffff;
    font-size: 30px;
}

.nav-item a span {
    width: 100%;                               
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 15px;
  
}

.navbar-toggler-icon{
    border: 0;
}

.btn--red {
    width: 150px;
    margin: 5px 10px;
    padding: 2px;
    background-color: red;
    color: white;
    text-transform: uppercase;
}
 

/* #modalFormdiv  {
    text-align: center;
}


.modalForm {
    font-weight: bold;
    
} */

.jumbotron h1 {
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Langar", sans-serif;


}


.jumbotron {
    background-color: rgb(26, 24, 21);
    max-width: 75%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50px 50px 30px 30px;
    margin-bottom: 50px;
}


.jumbotron .lead {
    color: whitesmoke;
    line-height: 30px;
    margin: 20px 0;
    padding: 0 30px 30px;
    transition: height 0.5s ease-in-out;
}

.insideReadMore {

    color: whitesmoke;
    line-height: 30px;
    margin: 20px 0;
    padding: 0 30px 30px;
    transition: height 0.5s ease-in-out;
    
}


/* Block dividers */

.block-divider {
    width: 75px;
    height: 15px;
    border: 0;
   
}

 /* .block-divider--orange {
    background-color: red;
  margin: 0 auto;
   height: 25px;
}
 */
hr {
    background-color: red;
    margin: 0 auto;
   height: 25px;
}

/*
.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
} */


.ccTerms {
    max-height: 280px;
    width: auto;
    background-color: goldenrod;
    font: white;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    transform: height 0.5s ease-in-out;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    margin-left: 50px;


}
.ccTerms-Links{
     list-style-type: none;
} 

ul > .ccTerms-typo{
    color: white;
    padding: 5px;
    font-style: italic;
}


.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color:rgba(0,73,83,0.9);
    border-color:rgba(0,73,83,0.9);
}


 .btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
} 

.expandToggle{
    margin-bottom: 30px;
}



.btn--red.climateButton{
    width: auto;
    height: auto;
    padding: 10px;
    margin: 20px;
    align-content: center;
    border-radius:12px;
    margin-left: 55px;
    text-transform: capitalize;
    font: white;
    
}


.page-headers{
    margin: 75px auto;

}



#showMoreContent1{
    display: none;
}