@import url("https://fonts.googleapis.com/css2?family=Langar&family=Supermercado+One&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Supermercado", sans-serif;
}

/*----------------Background Image for Welcome Section --*/
.welcome-page {
    height: 100vh;

    background: url("../images/welcm.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*----------------------------------Nav-bar---------*/
.navbar-dark {
    padding: 0px;
    border: 0;
    background-color: rgba(90, 150, 210, 0.95) !important;
}

.navbar-dark .navbar-brand {
    /*---Site Logo----*/
    float: left;
    font-family: "Supermercado", sans-serif;
    font-size: 200%;
    margin-left: 0px;
    margin-bottom: 0;
    padding-bottom: 2px;
    padding-left: 20px;
    border-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    line-height: 75px;
    height: 75px;
}

/*---wrapper for links----*/
.collapse .naveLinks {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*---contents od nan-links: welcome, play game and signUp for small device----*/
.nav-item {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0px;
}
/*---nav-anchors----*/
.nav-item a {
    width: 100%;
    text-decoration: none;
    margin: 0 10px;
    color: #ffffff;
}

/*---nav-icons----*/
.nav-item a i {
    padding-top: 5px;
    display: inline;
    color: #ffffff;
    font-size: 30px;
}

/*---nav-anchor-Text----*/
.nav-item a span {
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 15px;
}

/*---nav-bar-collaps-Button----*/
.navbar-toggler-icon {
    border: 0;
}

.btn--red {
    width: 150px;
    margin: 5px 10px;
    padding: 2px;
    background-color: red;
    color: white;
    text-transform: uppercase;
}

/*---Sigh-up form----*/
#modalFormdiv {
    text-align: center;
}

.modalForm {
    font-weight: bold;
}

/*--------------The WelcomeSection with jumbotron  ----------*/

/*--- styling jumbotron container----*/
.jumbotron {
    background-color: rgb(26, 24, 21);
    max-width: 75%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50px 50px 30px 30px;
    margin-bottom: 50px;
}

/*---jumbotron header----*/
.jumbotron > h1 {
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Langar", sans-serif;
}

/*---jumbotron-content-TEXT----*/
.jumbotron .lead {
    color: whitesmoke;
    line-height: 30px;
    margin: 20px 0;
    padding: 0 30px 30px;
    transition: height 0.5s ease-in-out;
}

.insideReadMore {
    color: whitesmoke;
    line-height: 30px;
    margin: 20px 0;
    padding: 0 30px 30px;
    transition: height 0.5s ease-in-out;
}

#showMoreContent1 {
    display: none;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 15px;
    border: 0;
}

/*--------------All Buttons------mostly-from whiskey-drop-lecture--------*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: rgba(0, 73, 83, 0.9);
    border-color: rgba(0, 73, 83, 0.9);
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: #fafafa;
}

/* Inside jumbotron Button */
.read-moreButton {
    margin-bottom: 30px;
}

/* styling climate change jargons Button */
.btn--red.climateButton {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 20px;
    align-content: center;
    border-radius: 12px;
    margin-left: 55px;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
}

/* styling Nav-bar dropdown buttons */
.dropdown-item {
    background-color: rgba(0, 73, 83, 0.9);
    margin-bottom: 5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-weight: bold;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: #fafafa;
}

/* SignUp-form and navbar-playgame-Modal and CCjargons*/

ul > li > h5,
h5.modal-title {
    color: rgb(65, 23, 23);
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}
.form-group {
    margin: 10px;
    margin-bottom: 30px;
}

.btn.btn--cta.btn-danger.modalFormButton{
    margin-bottom: 25px;
}

/* styling climate change-jargons-CONTENTS */
.ccTerms {
    max-height: 280px;
    width: auto;
    background-color: goldenrod;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    transition: height 0.5s ease-in-out;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    margin-left: 50px;
    font-style: italic;
}

/* styling CCjargon LINKS */
.ccTerms-Links {
    list-style-type: none;
    padding-left: 5px;
}

/* styling CCjargon CONTENTS */
ul > .ccTerms-typo {
    color: white;
    padding: 5px;
    font-style: italic;
}

/* game Instruction Contents*/
.card-body {
    width: auto;
    background-color: goldenrod;
    color: white;
    padding: 10px;
    transition: height 0.5s ease-in-out;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}

/*--------------Quotes and Carousel-Section------*/

.sectional-container {
    margin-top: 75px;
}

#carolzDiv {
    position: relative;

    max-height: 600px;
    overflow: hidden;
    justify-content: center;
}

/* credit to this video https://www.youtube.com/watch?v=Thw33qJ5DXo&t=3330s */
.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 30%;
    padding: 50px 50px;
    border-radius: 15px 50px 30px;
}

.carousel-caption p {
    font-size: 20px;
}

.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
}

/*----------------styling-the-Quotes---*/
.newpage-header #quotes {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Langar", sans-serif;
}

/*--------------------footer-------------*/
footer {
    background-color: rgba(90, 150, 210, 0.95);
    color: #777777;
    min-height: 120px;
    margin-top: 30px;
}

/*--------------------footer-socialMedia---*/
.social-media {
    padding-bottom: 15px;
    text-align: center;
}

div ul.social-media li a {
    text-align: center;
}

div ul.social-media li a i {
    /*--------------styling---myfirst-miletone-project-*/
    width: 2em;
    height: 2em;
    margin: 3%;
    padding: 5%;
    border-radius: 25%;
    font-size: 1.8em;
    line-height: 1.8em;
    text-align: center;
    color: #fafafa;
    background: rgba(0, 73, 83, 0.9);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: rgba(255, 36, 0, 0.8);
}

#footer-contents {
    padding: 10px;
}

/*--------------------footer-Contacts---*/

footer .contacts {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

.footer-header {
    color: #ffffff;
    text-align: center;
}

footer .contactslg {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}
